*, *:before, *:after {
  box-sizing: border-box;
}
*:focus, *:active, *:visited {
  outline: none;
  -moz-outline-style: none;
}

body {
  margin: 0;
  padding: 0 5vw;
  background: url('/images/7800.jpg');
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size-adjust: initial;
  font-size: 1rem;
}

header {
  color: #CC0033;
}

h1 {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 35vh 0 0 0;
}

button {
  border: 1px solid #CC0033;
  background: #CC0033;
  color: #ffffff;
  padding: 1rem 2rem;
  outline: none;
  transition: all .4s;
}
button:hover {
  cursor: pointer;
  background: none;
  color: #CC0033;
}
button#signout-button {
  display: none;
  margin-top: 1rem;
  font-size: .8rem;
  padding: .5rem 1rem;
}
button#authorize-button {
  display: none;
  margin: 10vh auto 0 auto;
  font-size: 1.8rem;
}
button#aside-open {
  display: none;
  float: right;
  font-size: .8rem;
  padding: .5rem 1rem;
}

section#sunburst div.svg-container {
  width: calc(70vw * 3 / 4);
  margin: 0 auto;
}
svg path {
  stroke: #fff;
}

aside#certifications {
  position: fixed;
  top: 1rem;
  right: -20vw;
  max-width: 20vw;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  transition: all .4s;
}
aside#certifications button#cleanFilters {
  display: none;
  background: none;
  font-size: 1rem;
  color: #CC0033;
  border: none;
  padding: .5rem 0;
}
aside#certifications button#aside-close {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: .8rem;
  padding: .5rem 1rem;
}
aside#certifications nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
aside#certifications nav ul li {
  margin: .5rem 0;
  font-size: .8rem;
  font-weight: 300;
}
aside#certifications nav ul li.active {
  color: #CC0033;
}
aside#certifications nav ul li:hover {
  cursor: pointer;
  color: #CC0033;
}

aside#subskills {
  position: absolute;
  top: 1rem;
  left: -25vw;
  max-width: 20vw;
  overflow-y: auto;
  padding: 3rem 1rem 1rem 1rem;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  transition: all .4s;
  text-align: right;
}

aside#subskills h1 {
  margin: 0;
  font-size: 1rem;
  text-transform: none;
  text-align: right;
  font-weight: 300;
  color: #CC0033;
}

aside#subskills p {
  font-size: .8rem;
  font-weight: normal;
  margin: 0;
}

aside#subskills button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8rem;
  padding: .5rem 1rem;
}

aside#subskills h2 {
  font-weight: 700;
  font-size: .9rem;
  margin: 1rem 0 .4rem 0;
}

footer {
  height: 2rem;
  margin-top: 8vh;
  background: #CC0033;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: .7rem;
}

svg g g:hover {
  cursor: pointer;
  opacity: .8;
}
